body {
    background-color: aquamarine;
}

h1 {
    color :blue;
}

.myP {
    font-size: 30px;
    color: yellow;
}

.myBtn{
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    text-decoration: none;
}